.nav {
	background: rgba(0, 0, 0, 0.1);
	padding-top: 20px;
	letter-spacing: 2px;
}
ul {
	text-transform: uppercase;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	font-size: 20px;
	font-weight: 600;
	color: white;
}

li {
	list-style: none;
	margin: 10px;
}

li:nth-child(1) {
	margin-right: 40%;
	margin-left: 130px;
	width: 300px;
	display: flex;
	align-items: center;
}

li:nth-child(4) {
	margin-right: 10%;
}

a {
	text-decoration: none;
	color: inherit;
}

button {
	color: inherit;
	text-transform: inherit;
	cursor: pointer;
	border: none;
	background: none;
	outline: none;
	font-size: inherit;
	font-weight: inherit;
	border-radius: 20px;
	background: #bdd631;
	width: 200px;
	height: 50px;
	letter-spacing: inherit;
}

.logo img {
	width: 100px;
	margin: 0 40px;
}
