.nav {
	width: 100%;
	background: rgba(0, 0, 0, 0.1);
	padding-top: 20px;
	letter-spacing: 2px;
}
ul {
	text-transform: uppercase;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin: 0 auto;
	font-size: 20px;
	font-weight: 600;
	color: white;
}

li {
	display: flex;
	align-items: center;
	list-style: none;
	margin: 10px;
}

li:nth-child(1) {
	a {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		@media (max-width: 1000px) {
			flex-direction: column;
			justify-content: flex-start;
			align-items: center;
		}
	}
}

a {
	text-decoration: none;
	color: inherit;
	margin: 15px;
}

button {
	color: inherit;
	text-transform: inherit;
	cursor: pointer;
	border: none;
	background: none;
	outline: none;
	font-size: inherit;
	font-weight: inherit;
	border-radius: 20px;
	background: #bdd631;
	height: 50px;
	letter-spacing: inherit;
	width: 180px;
}

.logo img {
	width: 15%;
	margin: 0 40px;
	@media (max-width: 1000px) {
		width: 60px;
	}
}
