.section1_p {
	text-align: center;
	background: white;
	padding: 10rem 0;
	background: url(https://images.unsplash.com/photo-1565734553594-c7f2dc16413b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
	background-repeat: no-repeat;
	background-size: cover;

	h1 {
		margin: 5% auto 0;
		color: white;
		font-size: 3rem;
		width: 70%;
		text-shadow: 1px 1px 70px black;
		span {
			color: #bdd631;
		}
	}
}

.section2_p {
	text-align: center;
	padding: 6rem 0;

	h1 {
		margin: auto;
		color: black;
		font-size: 2rem;
		font-weight: 500;
		width: 50%;
		span {
			color: #bdd631;
		}
		@media (max-width: 700px) {
			font-size: 1rem;
			width: 80%;
		}
	}
	.images {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		margin: 0 auto;
		flex-wrap: wrap;
		.galeryImg {
			max-width: 20%;
			max-height: 300px;
			margin: 20px;
			position: relative;
			h1 {
				position: absolute;
				top: 20%;
				opacity: 0;
				width: 100%;
				color: white;
			}
			h2 {
				width: 100%;
				position: absolute;
				top: 45%;
				opacity: 0;
				color: white;
				font-size: 1.2rem;
			}
			button {
				width: 60%;
				position: absolute;
				top: 70%;
				left: 20%;
				opacity: 0;
				color: white;
				letter-spacing: 2px;
				font-weight: 600;
			}
			img {
				width: 100%;
				max-height: 300px;
			}
			&:hover {
				h1,
				h2,
				button {
					opacity: 1;
					transition: .6s;
				}
				position: relative;
				&::before {
					content: '';
					position: absolute;
					background: rgba(0, 0, 0, .5);
					top: 100%;
					right: 0;
					bottom: 0;
					left: 0;
					animation: fadeIn .3s forwards;
				}
			}
			@keyframes fadeIn {
				from {
					top: 100%;
				}
				to {
					top: 0%;
				}
			}
		}
	}
	@media (max-width: 1600px) {
		.images {
			width: 80%;
			.galeryImg {
				width: 33.3%;
				h1 {
					font-size: 1.1rem;
				}
				h2 {
					font-size: .8rem;
				}
				button {
					height: 40px;
					font-size: .8rem;
				}
			}
		}
	}
	@media (max-width: 900px) {
		.images {
			width: 100%;
			.galeryImg {
				width: 100%;
				max-width: 40%;
			}
		}
	}
	@media (max-width: 500px) {
		.images {
			width: 100%;
			.galeryImg {
				width: 100%;
				max-width: 70%;
			}
		}
	}
}

.section3_p {
	width: 100%;
	background: url(../assets/Contact-Hero-Banner.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	.flex {
		padding: 3rem;
		margin: 0 auto;
		width: 70%;
		text-align: center;
		flex-direction: column;
		align-items: center;
		color: white;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
		button {
			text-align: center;
			opacity: 1;
			letter-spacing: 2px;
		}
		h1 {
			opacity: 1;
		}
		@media (max-width: 600px) {
			h1 {
				font-size: 1.5rem;
				padding: 2rem 0;
			}
		}
	}
}
