body {
	margin: 0;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	::selection {
		background-color: #bdd631;
	}
}

.flex {
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

h1 {
	font-size: 2.5rem;
}
h2 {
	font-size: 1.5rem;
}

.App {
	width: 100%;
	.section1 {
		padding: 10rem 0 15rem 0;
		color: white;
		.flex {
			@media (max-width: 1024px) {
				width: 90%;
			}
			@media (min-width: 1024px) {
				width: 40%;
			}

			h1 {
				padding: 10rem;
				span {
					color: #bdd631;
				}
			}
			h2 {
				padding: 0 0 3rem 10rem;
			}
		}

		background-image: url(./assets/1.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		@media (max-width: 1024px) {
			background-position: 50%;
		}
	}
	.section2 {
		padding: 5rem 2rem;
		.flex {
			@media (max-width: 1024px) {
				flex-direction: column;
				width: 90%;
				margin: 0 auto;
				button {
					margin: 0 3rem;
				}
			}

			@media (min-width: 1024px) {
				flex-direction: row;
				width: 60%;
				h1 {
					width: 100%;
					margin: 0 auto;
				}
				p {
					width: 100%;
					margin: 1rem 2rem;
				}
				button {
					margin: 0 5rem;
				}
				margin: 0 auto;
			}

			h1 {
				padding: 0rem 3rem;
			}
			p {
				padding: 0rem 3rem;
			}
		}
	}
	.section3 {
		padding: 4rem;
		margin: 6% auto;
		background: #31303d;
		color: white;
		text-align: center;
		.flex {
			@media (max-width: 1024px) {
				flex-direction: column;
				width: 90%;
				margin: 0 auto;
			}
			@media (min-width: 1024px) {
				flex-direction: row;
				width: 60%;
				h1 {
					width: 100%;
					margin: 0 auto;
				}
				p {
					width: 100%;
					margin: 100px 0;
				}
				margin: 0 auto;
			}

			@media (min-width: 630px) {
				.flexImages {
					width: 100%;
					flex-wrap: wrap;
					margin: 0 auto;
					div {
						opacity: 0;
						overflow: hidden;
						padding: 3%;
						border: 2px solid #bdd631;
						border-radius: 50%;
						width: 200px;
						height: 200px;
						margin: 20px auto;
						position: relative;
						img {
							border-radius: 50%;
							width: 100%;
						}
						h3 {
							position: absolute;
							top: 30%;
							left: 20%;
							width: 60%;
							text-align: center;
							font-size: 2rem;
						}
						&:before {
							content: '';
							position: absolute;
							top: 3%;
							left: 3%;
							right: 3%;
							bottom: 3%;
							border-radius: 50%;
							background: rgba(0, 0, 0, 0.3);
						}
					}
				}
			}
			@media (max-width: 1024px) {
				.flexImages {
					width: 80%;
					flex-wrap: wrap;
					div {
						opacity: 0;
						border: 2px solid #bdd631;
						border-radius: 50%;
						width: 250px;
						height: 250px;
						margin: 20px auto;
						padding: 5%;
						position: relative;
						h3 {
							position: absolute;
							top: 20%;
							left: 20%;
							width: 60%;
							text-align: center;
							font-size: 2rem;
						}
						img {
							border-radius: 50%;
							width: 100%;
						}
						&:before {
							content: '';
							position: absolute;
							top: 2%;
							left: 2%;
							right: 2%;
							bottom: 2%;
							border-radius: 50%;
							background: rgba(0, 0, 0, 0.3);
						}
					}
				}
			}
		}
	}
	.section4 {
		padding: 1rem;
		overflow: hidden;
		.flex {
			flex-direction: column;
			margin: 0 auto;
			.content {
				width: 70%;
				margin: 0 auto;
				text-align: center;
				h1 {
					margin: 0 auto;
				}
				p {
					margin: 3rem auto;
					padding: 0 2rem;
				}
				button {
					margin: 0 3rem;
					color: white;
					font-weight: 600;
				}
			}
		}
		.flexImages {
			width: 2000px;
			display: flex;
			padding: 15%;
			div {
				margin: 20px;
				width: 30%;
				position: relative;
				h1 {
					width: 100%;
					position: absolute;
					top: 0;
					left: 2%;
					color: white;
					z-index: 1;
					@media (max-width: 1024px) {
						width: 70%;
					}
				}
				h2 {
					position: absolute;
					color: white;
					width: 100%;
					bottom: 100px;
					left: 2%;
					z-index: 1;
					@media (max-width: 1024px) {
						width: 70%;
					}
				}
				button {
					position: absolute;
					bottom: 20px;
					left: 2%;
					color: white;
					z-index: 1;
				}
				img {
					width: 100%;
					position: relative;
					z-index: 0;
				}
				&:before {
					content: '';
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					background: rgba(0, 0, 0, 0.3);
					z-index: 1;
				}
			}
		}
	}
	.section5 {
		background: #ebeaea;
		.flex {
			margin: 0 auto;
			flex-direction: column;
			padding: 3rem;
			text-align: center;
			width: 70%;
			.flexImages {
				display: flex;
				flex-wrap: wrap;
				margin: 50px auto;
				width: 100%;
				div {
					opacity: 0;
					width: 30%;
					h3 {
						width: 60%;
						margin: 50px auto;
					}
				}
				@media (max-width: 1024px) {
					div {
						width: 50%;
						h3 {
							width: 100%;
							margin: 50px auto;
						}
					}
				}
			}
		}
	}
	.section6 {
		width: 100%;
		background: url('./assets/Contact-Hero-Banner.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		.flex {
			padding: 3rem;
			margin: 0 auto;
			width: 70%;
			text-align: center;
			flex-direction: column;
			align-items: center;
			color: white;
			text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
			button {
				text-align: center;
				opacity: 1;
			}
			h1 {
				opacity: 1;
			}
		}
	}
}

h1,
h2,
h3,
p {
	opacity: 0;
	cursor: default;
}

button {
	opacity: 0;
}
